body {
    background-color: #282c34;
    font-family: "Open Sans", sans-serif;
}

.Board {
    display: flex;
    justify-content: center;
}

.Board-section {
    position: relative;
    margin-top: 1em;
    background-color: #2f5d62;
    padding: 3em;
    border-radius: 2.8em;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25), inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.container {
    display: grid;
    grid-template-columns: 7em 7em 7em 7em;
    grid-template-rows: 7em 7em 7em 7em 7em;
    gap: 0.5em;
}

.btn {
    /* border-radius: 35%; */
    width: 7em;
    height: 7em;
    font-size: 1em;
    font-weight: bold;
    border: 2px solid #3f3f3f;
    color: black;
    outline: none;
    border-radius: 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25), 5px 5px 5px rgba(0, 0, 0, 0.25), 5px 5px 5px rgba(0, 0, 0, 0.25);
    transition: 0.13s ease-in-out;
    cursor: pointer;
}

.number {
    background-color: #1b2430;
    color: white;
}

.option {
    background-color: #1b2430;
    color: #3ec70b;
}

.operator {
    background-color: #1b2430;
    color: #f55353;
}

.screen {
    background-color: #c7d36f;
    height: 9em;
    width: 29.5em;
    margin-bottom: 1.5em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: 3px solid;
    border-color: rgb(36, 36, 36);
}
.text-screen {
    font-family: "Orbitron", sans-serif;
    color: #191919;
    font-size: 4em;
    margin: auto;
    margin-right: 0.5em;
    display: flex;
    flex-direction: row-reverse;
}

.btn-size {
    font-size: 2.3em;
}

.casio-dani {
    font-family: "Orbitron", sans-serif;
    color: #D5D8B5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

.btn-plus {
    background-color: #f55353;
    color: white;
    height: 14.5em;
    border: 2px solid #3f3f3f;
}

.btn:hover {
    background-color: #1b243098;
}

.btn-plus:hover {
    background-color: #f55353c9;
}
